* {
  box-sizing: border-box;
}

html {
  background: #ba2a23;
}

body {
  margin: 0;
  background: #fff;
  font-family: "Yu Mincho", "Hiragino Mincho ProN", "Hiragino Mincho Pro", serif;
  padding: 20;
  max-width: 480px;
  height: 100vh;
  display: block;
  margin: 0 auto;
}

.omikuji {
  text-align: center;
  padding: 10px;
  border: double 20px #e93429;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.omikuji-headline {
  margin: 0 0 80px;
  font-size: 40px;
  background: #e93429;
  color: #fff;
  font-weight: bold;
  position: relative;

  &::after {
    content: "- Omikuji App -";
    position: absolute;
    width: 100%;
    left: 0;
    top: 100%;
    color: #e93429;
    font-size: 20px;
    padding: 10px;
  }
}

/* @keyframesはcssでアニメーションの関数を作るもの */
@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  5% {
    transform: rotate(10deg);
  }
  10% {
    transform: rotate(-10deg);
  }
  15% {
    transform: rotate(10deg);
  }
  20% {
    transform: rotate(-10deg);
  }
  25% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.omikuji-result {
  margin-bottom: 30px;
  animation: shake 2.5s 2s ease-in-out 2;

  > img {
    width: auto;
    height: 300px;
  }
}

.omikuji-button {
  padding: 10px 20px;
  cursor: pointer;
  display: inline-block;
  background: #e93429;
  color: #fff;
  border: double 10px #fff;
  font-family: "Yu Mincho", "Hiragino Mincho ProN", "Hiragino Mincho Pro", serif;
  font-weight: bold;
}
